<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->



<ul class="nav nav-sidebar">
	<li ng-class="{active:toolbar.isSelected(1)}">
		<a href ng-click="toolbar.selectTab(1)">Registrar Pedido </a>
	</li>
	<li ng-class="{active:toolbar.isSelected(2)}">
		<a href ng-click="toolbar.selectTab(2)" >Registrar Entrega Pedido</a>
	</li>
	<li ng-class="{active:toolbar.isSelected(3)}">
		<a href ng-click="toolbar.selectTab(3)">Consultar Productos</a>
	</li>
	<li ng-class="{active:toolbar.isSelected(4)}">
		<a href ng-click="toolbar.selectTab(4)">Consultar Materias Primas</a>
	</li>
	<li ng-class="{active:toolbar.isSelected(5)}">
		<a href ng-click="toolbar.selectTab(5)">Consultar Componentes</a>
	</li>
	<li ng-class="{active:toolbar.isSelected(6)}">
		<a href ng-click="toolbar.selectTab(6)" >Registrar Proveedor</a>
	</li>
	<li ng-class="{active:toolbar.isSelected(7)}">
		<a href ng-click="toolbar.selectTab(7)" >Registrar Llegada de Material</a>
	</li>
	<li ng-class="{active:toolbar.isSelected(8)}">
		<a href ng-click="toolbar.selectTab(8)" >Registrar Llegada de Componente</a>
	</li>
	<li ng-class="{active:toolbar.isSelected(9)}">
		<a href ng-click="toolbar.selectTab(9)" >Registrar Ejecucion Etapa</a>
	</li>
	<li ng-class="{active:toolbar.isSelected(10)}">
		<a href ng-click="toolbar.selectTab(10)" >Etapa de Mayor Movimiento</a>
	</li>
	<li ng-class="{active:toolbar.isSelected(11)}">
		<a href ng-click="toolbar.selectTab(11)" >Operario Más Activo</a>
	</li>
	<li ng-class="{active:toolbar.isSelected(12)}">
		<a href ng-click="toolbar.selectTab(12)" >Consultar Pedidos</a>
	</li>
	<li ng-class="{active:toolbar.isSelected(13)}">
		<a href ng-click="toolbar.selectTab(13)" >Consultar Proveedores</a>
	</li>
	<li ng-class="{active:toolbar.isSelected(14)}">
		<a href ng-click="toolbar.selectTab(14)" >Consultar Clientes</a>
	</li>
	<li ng-class="{active:toolbar.isSelected(15)}">
		<a href ng-click="toolbar.selectTab(15)" >Activar Estación</a>
	</li>
	<li ng-class="{active:toolbar.isSelected(16)}">
		<a href ng-click="toolbar.selectTab(16)" >Desactivar Estación</a>
	</li>
	<li ng-class="{active:toolbar.isSelected(17)}">
		<a href ng-click="toolbar.selectTab(17)" >Consultar pedidos (tipo y precio)</a>
	</li>
	<li ng-class="{active:toolbar.isSelected(18)}">
		<a href ng-click="toolbar.selectTab(18)" >Consultar pedidos (por material)</a>
	</li>
	<li ng-class="{active:toolbar.isSelected(19)}">
		<a href ng-click="toolbar.selectTab(19)" >Consultar Etapas por Rango de Fechas</a>
	</li>
</ul>
